::-webkit-scrollbar {
	display: none;
}

html, body {
	height: 100%;
	width: 100%;
}

body {
	background-color: #222;
	margin: 0;
}

p, a {
	color: white;
	font-family: Times New Roman;
	font-weight: normal;
	margin: 0;
	text-decoration: none;
}

a {
	cursor: pointer;
}

@media (hover: hover) {
	button:hover {
		background-color: #3A3A3A;
	}
	
	button:active {
		background-color: #333;
	}
	
	.paradigmElement > p:hover {
		background-color: #555;
	}
	
	.paradigmElement > p:active {
		background-color: #444;
	}
}

.smallPadding {
	padding: 10px;
}

.mediumPadding {
	padding: 15px;
}

.largePadding {
	padding: 20px;
}

.smallGap {
	gap: 10px;
}

.mediumGap {
	gap: 15px;
}

.largeGap {
	gap: 20px;
}

.extraLargeGap {
	gap: 50px;
}

.smallFont {
	font-size: 18px;
}

.mediumFont {
	font-size: 23px;
}

.largeFont {
	font-size: 30px;
}

.extraLargeFont {
	font-size: 40px;
}

.flexRowCenter {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.flexRowCenterStart {
	align-items: flex-start;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.flexColumnCenter {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.flexColumnStartCenter {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.underlined {
	text-decoration: underline;
}

.container {
	box-sizing: border-box;
	flex-grow: 1;
	overflow-y: scroll;
	width: 100%;
}

.sectionGroup {
	box-sizing: border-box;
	width: 100%;
}

.sectionGroup > div {
	flex-wrap: wrap;
	margin-top: 10px;
}

.sectionGroup:nth-child(even) {
	background: #2C2C2C;
}

.sectionLink {
	color: #AAA;
	transition: color .25s;
}

.sectionLink:hover {
	color: white;
}

#header {
	background-color: #111;
	width: 100%;
}

.paradigmImage {
	width: 50%;
}

.paradigm {
	background-color: #2A2A2A;
	max-height: 90vmin;
	width: 90vmin;
}

.paradigmRow {
	width: 100%;
	cpo: blue;
}

.paradigmRow > p, .paradigmRow > div {
	flex: 1;
}

.paradigmLabel {
	font-size: 2.25vmin;
	padding: 0;
	white-space: pre;
}

.paradigmLabel:first-child {
	justify-content: flex-end;
}

.paradigmElement > p {
	background-color: #444;
	cursor: pointer;
	font-size: 4vmin;
	height: 8vmin;
	padding: 0;
	text-align: center;
	transition: .25s background-color;
	width: 8vmin;
}

.answered {
	background-color: unset !important;
	cursor: unset !important;
}

.incorrect {
	background-color: #d41c1c !important;
}