::-webkit-scrollbar {
	display: none;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	background-color: #222;
}

p, a {
	margin: 0;
	font-family: Times New Roman;
	color: white;
	text-align: center;
	text-decoration: none;
	overflow-wrap: anywhere;
}

a {
	cursor: pointer;
}

input, select {
	outline: none;
	border: none;
	padding: 10px;
	background: #2A2A2A;
	color: white;
	box-sizing: border-box;
}

input {
	width: 600px;
	max-width: 100%;
}

@media (hover: hover) {
	button:hover {
		background-color: #3A3A3A;
	}
	
	button:active {
		background-color: #333;
	}
	
	.paradigmElement > p:hover {
		background-color: #555;
	}
	
	.paradigmElement > p:active {
		background-color: #444;
	}
}

.pageContainer {
	width: 100%;
	height: calc(100vh - 46px);
	overflow-y: scroll;
	box-sizing: border-box;
}

.flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flexTop {
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.flexLeft {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.flexColumn {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.flexColumnTop {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.flexColumnLeft {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.flexColumnRight {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
}

.flexColumnTopLeft {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.flexWrap {
	flex-wrap: wrap;
}

.fullWidth {
	width: 100%;
}

.fullHeight {
	height: 100%;
}

.extraSmallGap {
	gap: 5px;
}

.smallGap {
	gap: 10px;
}

.mediumGap {
	gap: 15px;
}

.largeGap {
	gap: 20px;
}

.extraSmallPadding {
	padding: 5px;
}

.smallPadding {
	padding: 10px;
}

.mediumPadding {
	padding: 15px;
}

.largePadding {
	padding: 20px;
}

.extraLargeGap {
	gap: 50px;
}

.extraSmallFont {
	font-size: 15px;
}

.smallFont {
	font-size: 18px;
}

.mediumFont {
	font-size: 23px;
}

.largeFont {
	font-size: 30px;
}

.extraLargeFont {
	font-size: 40px;
}

.underlined {
	text-decoration: underline;
}

.gray {
	color: #AAA;
}

.sectionGroup {
	box-sizing: border-box;
	width: 100%;
}

.sectionGroup:nth-child(even) {
	background: #2C2C2C;
}

.sectionLink {
	transition: color .25s;
}

.sectionLink:hover {
	color: white;
}

#header {
	background-color: #111;
	width: 100%;
}

.vocabularyWord {
	width: 460px;
	background-color: #2A2A2A;
	box-sizing: border-box;
}

.vocabularyForm {
	width: 100%;
}

.paradigm {
	background-color: #2A2A2A;
	width: 90vmin;
}

.paradigmRow {
	width: 100%;
}

.paradigmRow > p, .paradigmRow > div {
	flex: 1;
}

.paradigmLabel {
	font-size: 2.25vmin;
	padding: 0;
	white-space: pre;
}

.paradigmLabel:first-child {
	justify-content: flex-end;
}

.paradigmElement > p {
	background-color: #444;
	cursor: pointer;
	font-size: 4vmin;
	height: 8vmin;
	padding: 0;
	transition: .25s background-color;
	width: 8vmin;
	overflow-wrap: unset;
	user-select: none;
}

.answered {
	background-color: unset !important;
	cursor: unset !important;
	user-select: unset !important;
}

.incorrect {
	background-color: #d41c1c !important;
	cursor: unset !important;
}